python>=3.8
jax>=0.5.3
jaxlib>=0.5.3
chex>=0.0.7
equinox
flax==0.10.0
optax
clu>=0.0.3
ml-collections==0.1.0
torch>=2.5.1
pytorch>=1.12  
tensorflow>=2.0.0-beta1
absl-py>=0.12.0
einops>=0.3.0
numpy>=1.19.5
pandas>=1.1.0
scipy
scikit-image
imageio
matplotlib
Pillow
ipykernel
tensorboard
tqdm

